<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: black;
    }
    .container{
      color: white;
      text-align: center;
      margin: 10%;
    }
    .container p{
      display: inline-block;
      margin: 15px;
    }
    .container a{
      color: white;
      text-decoration: none;
      border: 1px solid rgb(244, 125, 5);
      background-color: rgb(244, 125, 5);
      border-radius: 2px;
    }
    p{
      color: white;
      margin-left: 40%;
      position: relative;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>WELCOME TO OUR HOTEL</h1>
    <p>for person info go  <br> 
      <a href="http://localhost:3000/person">here</a>
    </p>
    <p>for menu info go  <br> 
      <a href="http://localhost:3000/menu">here</a>
    </p>
  </div>
  <p>you can update delete query with the help of postman</p>
</body>
</html>